.dark-theme {
    background-color: $black;
    & .entry-content-themes__title {
        background-color: $main-white !important;
        color: $main-color !important;
    }
    & .button {
        background-color: $main-white !important;
        color: $main-color !important;
            & a {
            color: $main-color !important;
            }
    }
    & #entry-title h1{
        color: $main-white;
    }
    & .entry-content-text {
        color: $main-white;
    }

    .btn-dark-mode {
        background-image: url(/terrecommune/public/storage/img/icon-sun.svg) !important;
    }

    .arrow {
        &--select {
            border: solid $main-color;
            border-width: 0 3px 3px 0;
        }
    }
    .background-image {
        &__image {
            opacity: 0.5;
        }
        &__blur {
            box-shadow: inset 84px -62px 87px -8px $black;
        }
    }
}

#body {
    transition: all 0.5s;
}

#entry-title h1 {
    transition: all 0.5s;
}
