@keyframes rotation-right {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@keyframes rotation-left {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@keyframes gif {
    from {opacity: 1; transform: rotate(0)}
    to {opacity: 0; transform: rotate(360deg)}
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes front {
    from {opacity: 0;
        transform: scale(0);}
    to {opacity: 1;
        transform: scale(1);}
}

@keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }




