/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/app/public/**
/public/pdf/theme/*.png
/public/pdf/theme/*.jpg
/public/img/theme/*.pdf
