/*buttons */
.custom-btn {
    padding: 1.5rem;
    background: $main-white;
    cursor: pointer;
    border-radius: 100rem;
    font-size: 1.5rem;
    color: $main-white;
    text-decoration: none;
    transition: background 0.7s, border 0.9s;
    &--outline {
      background: transparent;
      @include border-button;
      color: $main-white;
      &:hover{
        background: $main-color;
        border: 0 solid transparent;
      }
    }
  }
