.entry-content-themes {
    &__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: auto;
		grid-gap: 40px;
	}
    &__single {
        width: 50%;
        @include mobile-only {
            width: 100%;
        }
    }
    &__card {
        position: relative;
        z-index: 1;
        transition: all 0.5s;
        &:hover img {
            filter: saturate(1);
        }
        &:hover h2::after{
            @include wizz-hover;
        }
    }

	& img{
        margin: 0;
        position: relative;
        z-index: -1;
		width: 100%;
        object-fit: cover;
        filter: saturate(0.6);
        transition: filter 300ms ease-in-out;
    }

	& h2 {
        margin: 0;
        @include theme-title;
        z-index: 1;
        position: relative;
        @include title_button;
    }

    & h2::after {
        @include pseudo-element;
        z-index: -1;
        @include wizz;
    }

	a {
		text-decoration: none;
	}
}

.video-carousel {
    margin-top: 2rem;
}

.video-carousel-card {
    position: relative;
    margin-top: 2rem;
    margin: 0 auto;
	img {
        @include transition;
        filter: saturate(0.6);
        width: 98%;
        height: 100%;
        @include mobile-only {
            width: 100%;
        }
    }

    & h4 {
        position: absolute;
        top: 10px;
        right: 10px;
        transition: opacity 750ms;
        z-index: 5;
    }
	&:hover .video-play-button-soft {
        opacity: 1;
    }
    &:hover img {
		filter: saturate(1);
        outline: $main-color solid 3px;
        border-top: $main-color solid 3px;
    }
    &:focus img {
		filter: saturate(1);
        outline: $main-color solid 3px;
        border-top: $main-color solid 3px;
    }
	&__title {
        position: absolute;
        bottom: 0;
		background-color: $main-color-trans;
		padding: 0.5rem;
		text-align: center;
        z-index: 3;
        opacity: 1;
        width: 98%;
        @include mobile-only {
            width: 100%;
        }
        h3 {
            color: $main-white;
            font-size: map-get($main-title, third-title);
            @include mobile-only {
                font-size: map-get($main-title, third-title)*0.7;
            }
        }
        p {
            color: $main-white;
            font-size: 13px;
            @include mobile-only {
                font-size: 11px;
            }
        }
	}

    .video-play-button-soft {
        @include play-button;
        @include transition;
        &:before {
        @include play-button-pseudo($width: 40px, $height: 40px);
        }

        &:after {
            @include play-button-pseudo($width: 40px, $height: 40px);
        }

        & span {
            display: block;
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 16px solid #fff;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
        }
      }


}

.video-vignette {
    margin-top: 2rem;
    padding: 0;
    @include mobile-only {
        width: 100%;
    }

    &-card {
        position: relative;
        margin: 0;
        padding: 0;
        width: 600px;
        @include mobile-only {
            width: 100%;
        }
        &:hover img {
            filter: saturate(1);
        }

        img {
            width: 600px;
            filter: saturate(0.6);
            @include mobile-only {
                width: 100% !important;
                margin-bottom: 2.5rem !important;
            }
        }

        &__title {
            position: absolute;
            bottom: 2px;
            background-color: $main-color-trans;
            padding: 0.5rem;
            text-align: center;
            width: 100%;
            z-index: 3;
            color: $main-white;
            @include mobile-only {
                opacity: 1;
                transform: scale(1);
                bottom: 15px;
                margin-bottom: 30px;
                width: 98.5%;
            }
            h3 {
                color: $main-white;
                font-size: map-get($main-title, third-title);
                @include mobile-only {
                    font-size: map-get($main-title, third-title)*0.6;
                }
            }
            p {
                color: $main-white;
                font-size: 11px;
            }
        }
    }

    .video-play-button-soft {
        @include play-button;
        @include mobile-only {
            top: -550%;
        }

        &:before {
        @include play-button-pseudo($width: 40px, $height: 40px);
        }

        &:after {
            @include play-button-pseudo($width: 40px, $height: 40px);
        }

        & span {
            display: block;
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 16px solid #fff;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
        }
      }
}
