#long {
    overflow: auto;
    background-color: $main-white;
    padding: 2rem;
    width: 50em;
    @include mobile-only {
        width: 100%;
    }
    border-radius: 6px;

    p, h2, h3, h4, h5, h6, li {
        color: $main-color;
    }

    a {
        color: $main-color;
        text-decoration: none !important;
        border-bottom: 1px solid #7A6A95;
        box-shadow: inset 0 -0.125em 0 #7A6A95;
        transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    a:hover {
        box-shadow: inset 0 -1.125em 0 #7A6A95;
        color: $main-color;
    }

    blockquote {

        &::before {
            color: $main-color !important;
        }
        &::after {
            color: $main-color !important;
        }

    }
    li {
        list-style-type: none;
        line-height: 1.5;
    }
    li:before {
        content: "";
        width: 10px;
        height: 10px;
        background: $main-color;
        display: inline-block;
        border-radius: 50%;
        margin-right: 7px;
    }
    hr {
        color: $main-color !important;
    }


}
