#long {
    overflow: auto;
    background-color: $main-white;
    padding: 2rem;
    width: 600px;
    @include mobile-only {
        width: 100%;
    }
    border-radius: 6px;

    p, h2, h3, h4, h5, h6, li {
        color: $main-color;
    }

    a {
        color: $main-color !important;
    }

}
