.logo {
    color: $main-white;
    background-color: rgba($main-color, 100%);
    border-radius: 50%;
    font-size: map-get($main-title, first-title);
    padding-left: 0.1em;
    padding-right: 0.1em;
    letter-spacing: -7px;
    font-weight: 500;
    transition: background-color 1.5s, color 0.5s 0.5s;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
    top: 0;
    left: 0;
    &:hover {
        color: $main-color;
        background-color: rgba($main-color, 0);
      }
}
