* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
}

.entry-title {
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 4.5rem;
  text-align: center;
}

.entry-title__page {
  color: #33375F;
  font-size: 2.5rem;
}

.invisible-title {
  font-size: 2px;
  margin: 0;
}

.logo {
  color: #fcfcfc;
  background-color: #33375F;
  border-radius: 50%;
  font-size: 4.5rem;
  padding-left: 0.1em;
  padding-right: 0.1em;
  letter-spacing: -7px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
}

.logo:hover {
  color: #33375F;
  background-color: #fcfcfc;
}

/*buttons */

.custom-btn {
  padding: 1.5rem;
  background: #fcfcfc;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fcfcfc;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.custom-btn--outline {
  background: transparent;
  border: 0.5rem solid #fcfcfc;
  color: #fcfcfc;
}

.custom-btn--outline:hover {
  background: #33375F;
  border: none;
}

/* preview image upload */

.image-preview {
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

.entry-content-themes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
}

.entry-content-themes__card {
  position: relative;
}

.entry-content-themes__card:hover {
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.entry-content-themes__card:hover h2 {
  background-color: #767bb5;
}

.entry-content-themes__card:hover h2 {
  background-color: #767bb5;
}

.entry-content-themes__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.entry-content-themes__title {
  width: 100%;
  position: absolute;
  bottom: -9px;
  background-color: #33375F;
  text-align: center;
  color: #fcfcfc;
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in-out;
}

.entry-content-themes a {
  text-decoration: none;
}

.video-carousel-card {
  position: relative;
}

.video-carousel-card img {
  transition: all 0.3s ease-in-out;
}

.video-carousel-card:hover img {
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.video-carousel-card__title {
  transition: all 0.3s ease-in-out;
  display: none;
}

.video-carousel-card:hover h3 {
  display: block;
  -webkit-animation: fade_in_show 0.5s;
          animation: fade_in_show 0.5s;
  position: absolute;
  bottom: 0;
  background-color: #33375F;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  z-index: 3;
  color: #fcfcfc;
  font-size: 1.7rem;
}

@-webkit-keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slick-prev,
.slick-next {
  background-color: #33375F !important;
}

.background-image {
  width: 75%;
  position: relative;
  z-index: -10;
  margin-left: 25%;
  margin-bottom: -40%;
}

.background-image__image {
  width: 100%;
  opacity: 0.3;
}

.background-image__blur {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  box-shadow: inset 84px -62px 87px -8px #fcfcfc;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.half-screen {
  width: 50%;
}

.half-screen--left {
  margin-left: 50%;
}

.main {
  padding: 7rem 2rem;
}

.center {
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 7rem 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    padding: 7rem 1rem;
  }
}

.entry-content {
  width: 33%;
  padding: 1rem;
  color: #33375F;
}

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo-wrapper--half {
  width: 50%;
}

.vimeo-wrapper--half--left {
  left: 50%;
}

.edit-image {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.edit-image img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.edit-image__middle {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.edit-image__text {
  background-color: #33375F;
  color: #fcfcfc;
  font-size: 16px;
  padding: 16px 32px;
}

.edit-image:hover img {
  opacity: 0.3;
}

.edit-image:hover .edit-image__middle {
  opacity: 1;
  cursor: pointer;
}

.upload,
.upload-pdf {
  display: none;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

