/* General settings */

body {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: #fcfcfc;
  background-color: #33375F;
  border-radius: 50%;
  font-size: 4.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  letter-spacing: -7px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
}

.logo:hover {
  color: #33375F;
  background-color: #fcfcfc;
}

.entry-title {
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 4.5em;
  text-align: center;
}

.invisible-title {
  font-size: 2px;
  margin: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.half-screen {
  width: 50%;
}

.half-screen--left {
  margin-left: 50%;
}

/*buttons */

.btn {
  padding: 1.5rem;
  background: #fcfcfc;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fcfcfc;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.btn--outline {
  background: transparent;
  border: 0.5rem solid #fcfcfc;
  color: #fcfcfc;
}

.btn--outline:hover {
  background: #33375F;
  border: none;
}

/*homepage*/

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo-wrapper--half {
  width: 50%;
}

.vimeo-wrapper--half--left {
  left: 50%;
}

