@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
}

.invisible-title {
  font-size: 2px;
  margin: 0;
}

blockquote {
  position: relative;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.6;
}

blockquote::before {
  content: "\201C";
  color: #33375F;
  font-size: 3.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote::after {
  content: "\201D";
  color: #33375F;
  font-size: 3.5em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote cite {
  position: absolute;
  font-size: 1rem;
  font-style: normal;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #33375F;
}

.entry-content-text li {
  list-style-type: none;
  line-height: 1.5;
}

.entry-content-text li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #33375F;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}

.entry-content-text a {
  color: #33375F;
  text-decoration: none !important;
  border-bottom: 1px solid #7A6A95;
  -webkit-box-shadow: inset 0 -0.125em 0 #7A6A95;
          box-shadow: inset 0 -0.125em 0 #7A6A95;
  -webkit-transition: color 270ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: color 270ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1);
}

.entry-content-text a:hover {
  -webkit-box-shadow: inset 0 -1.125em 0 #7A6A95;
          box-shadow: inset 0 -1.125em 0 #7A6A95;
  color: #33375F;
}

.entry-content-text hr {
  color: #33375F;
}

@-webkit-keyframes rotation-right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation-right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation-left {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotation-left {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes gif {
  from {
    opacity: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes gif {
  from {
    opacity: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes front {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes front {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.transition-fade {
  -webkit-transition: 2s 1s;
  -o-transition: 2s 1s;
  transition: 2s 1s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.transition-fade2 {
  -webkit-transition: 0.7s 0.7s;
  -o-transition: 0.7s 0.7s;
  transition: 0.7s 0.7s;
  opacity: 1;
}

html.is-animating .transition-fade2 {
  opacity: 0;
}

.transition-slide {
  -webkit-transition: 2s 1s;
  -o-transition: 2s 1s;
  transition: 2s 1s;
  opacity: 1;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

html.is-animating .transition-slide {
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.dark-theme {
  background-color: #19212E;
}

.dark-theme .entry-content-themes__title {
  background-color: #fcfcfc !important;
  color: #33375F !important;
}

.dark-theme .button {
  background-color: #fcfcfc !important;
  color: #33375F !important;
}

.dark-theme .button a {
  color: #33375F !important;
}

.dark-theme #entry-title h1 {
  color: #fcfcfc;
}

.dark-theme .entry-content-text {
  color: #fcfcfc;
}

.dark-theme .btn-dark-mode {
  background-image: url(/terrecommune/public/storage/img/icon-sun.svg) !important;
}

.dark-theme .arrow--select {
  border: solid #33375F;
  border-width: 0 3px 3px 0;
}

.dark-theme .background-image__image {
  opacity: 0.5;
}

.dark-theme .background-image__blur {
  -webkit-box-shadow: inset 84px -62px 87px -8px #19212E;
          box-shadow: inset 84px -62px 87px -8px #19212E;
}

.dark-theme .glass-mobile:before {
  border-color: white !important;
}

.dark-theme .glass-mobile:after {
  background-color: white !important;
}

.dark-theme .glass-mobile.reveal {
  border: solid white !important;
  border-width: 0 6px 6px 0 !important;
}

.dark-theme .back-button {
  border: solid white !important;
  border-width: 0 6px 6px 0 !important;
}

.dark-theme .entry-content-text a {
  color: white;
}

.dark-theme .entry-content-text blockquote::before {
  content: "\201C";
  color: white !important;
}

.dark-theme .entry-content-text blockquote::after {
  content: "\201D";
  color: white !important;
}

.dark-theme .entry-content-text li:before {
  background: white !important;
}

.dark-theme .entry-content-text hr {
  color: white !important;
}

.dark-theme .video-duration p {
  color: #fcfcfc !important;
}

.dark-theme .theme-list__title {
  color: #fcfcfc !important;
}

#body {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#entry-title h1 {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 645px) {
  .header {
    display: none;
  }
}

.header .header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header--left .logo {
  font-size: 4.5rem;
  text-decoration: none;
  margin-right: 1rem;
  width: 100px;
  height: 100px;
  letter-spacing: -7px;
  z-index: 10;
  color: #fcfcfc;
  background-color: #33375f;
  border-radius: 50%;
  padding: 0.1em;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .header .header--left .logo {
    width: 75px;
    height: 75px;
    font-size: 3.6rem;
  }
}

.header .header--left .logo.rotation-right {
  -webkit-animation: rotation-right 1s infinite linear;
          animation: rotation-right 1s infinite linear;
}

.header .header--left .logo.rotation-left {
  -webkit-animation: rotation-left 1s linear;
          animation: rotation-left 1s linear;
}

.header .header--left .return {
  position: relative;
  z-index: 20;
  font-size: 4.5rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fcfcfc;
  background-color: #33375f;
  border-radius: 50%;
  padding: 0.1em;
  font-weight: 500;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .header .header--left .return {
    display: none;
  }
}

.header .header--left .return span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .header--left .return:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header .header--right {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header--right-el {
  margin-left: 3rem;
}

.header .header--right .navigation .button {
  padding: 14px 16px;
}

.header .header--right .navigation .button:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header--right .navigation .themes-list {
  display: none;
  position: absolute;
  top: 46px;
  background-color: #fcfcfc;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header .header--right .navigation a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .header--right .navigation a:hover {
  background-color: #4A4F7B;
  color: #fcfcfc;
}

.header .header--right .btn-dark-mode {
  background-color: transparent;
  border: transparent;
  background-image: url(/terrecommune/public/storage/img/icon-moon.svg);
  background-position: top;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.header-mobile {
  display: none;
}

@media screen and (max-width: 645px) {
  .header-mobile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 200;
    height: 50px;
  }
}

.header-mobile .back-button {
  height: 20px;
  width: 20px;
  border: solid #33375F;
  border-width: 0 6px 6px 0;
  margin-left: 9px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 5px;
}

.header-mobile .logo {
  position: absolute;
  font-size: 2.5rem;
  text-decoration: none;
  width: 50px;
  height: 50px;
  letter-spacing: -7px;
  z-index: 10;
  color: #fcfcfc;
  background-color: #33375f;
  border-radius: 50%;
  padding: 0.1em;
  font-weight: 500;
  right: 44%;
}

.header-mobile .logo.rotation-right {
  -webkit-animation: rotation-right 1s infinite linear;
          animation: rotation-right 1s infinite linear;
}

.header-mobile .logo.rotation-left {
  -webkit-animation: rotation-left 1s linear;
          animation: rotation-left 1s linear;
}

.header-mobile--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mobile--right .btn-dark-mode {
  background-color: transparent;
  border: transparent;
  background-image: url(/terrecommune/public/storage/img/icon-moon.svg);
  background-position: top;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.header-mobile .unreveal {
  display: none;
}

.header-mobile .glass-mobile {
  position: relative;
  cursor: pointer;
  height: 10px;
  width: 30px;
  padding: 0;
  margin: 0;
  border: 0;
}

@media screen and (max-width: 645px) {
  .header-mobile .glass-mobile {
    display: block;
  }
}

.header-mobile .glass-mobile:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 4px solid #33375F;
  top: -5px;
  right: 5px;
}

.header-mobile .glass-mobile:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 4px;
  background-color: #33375F;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
  top: 9px;
  right: 3px;
}

.header-mobile .glass-mobile.reveal {
  height: 20px;
  width: 20px;
  border: solid #33375F;
  border-width: 0 6px 6px 0;
  margin-left: 9px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 5px;
}

.header-mobile .glass-mobile.reveal:before {
  display: none;
}

.header-mobile .glass-mobile.reveal:after {
  display: none;
}

.header-mobile .m-nav-toggle {
  display: none;
  width: 40px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  margin-left: 2rem;
}

.header-mobile .m-nav-toggle .m-toggle-icon,
.header-mobile .m-nav-toggle .m-toggle-icon:before,
.header-mobile .m-nav-toggle .m-toggle-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #33375F;
  position: relative;
}

.header-mobile .m-nav-toggle .m-toggle-icon:before {
  top: 12px;
}

.header-mobile .m-nav-toggle .m-toggle-icon:after {
  top: -14px;
}

.menu {
  position: fixed;
  padding: 1em;
  top: 90px;
  right: 0;
  width: 300px;
  height: 100vh;
  z-index: 10;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #33375F;
}

.menu.is-open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu a {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  height: 30px;
  color: white;
  font-size: 16px;
}

/*buttons */

.custom-btn--outline {
  z-index: 1;
  position: relative;
  padding: 1.5rem;
  background: #fcfcfc;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fcfcfc;
  text-decoration: none;
  background: transparent;
  border: 0.5rem solid #fcfcfc;
  color: #fcfcfc;
}

@media screen and (max-width: 645px) {
  .custom-btn--outline {
    padding: 1rem;
  }
}

.custom-btn--outline::after {
  position: relative;
  padding: 1.5rem;
  background: #fcfcfc;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fcfcfc;
  text-decoration: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: #33375F;
  -webkit-transition: opacity 700ms ease-in-out;
  -o-transition: opacity 700ms ease-in-out;
  transition: opacity 700ms ease-in-out;
}

@media screen and (max-width: 645px) {
  .custom-btn--outline::after {
    padding: 1rem;
  }
}

.custom-btn--outline:hover::after {
  opacity: 1;
}

.button {
  margin: 0;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fcfcfc;
  background-color: #33375F;
  padding: 0.5rem;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button:hover .yep::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.button .yep {
  margin: 0;
}

.button .yep::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #767bb5;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0.6;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 9px 20px;
}

@media screen and (max-width: 768px) {
  .video-play-button {
    position: relative;
    margin-top: 6rem;
  }
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #33375F;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #33375F;
  border-radius: 50%;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #21243e;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.video-play-button-soft {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 9px 20px;
}

.video-play-button-soft:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #33375F;
  border-radius: 50%;
}

.video-play-button-soft:after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #33375F;
  border-radius: 50%;
}

.video-play-button-soft span {
  display: block;
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.entry-content-themes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
}

.entry-content-themes__card {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.entry-content-themes__card:hover img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.entry-content-themes__card:hover h2::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.entry-content-themes img {
  margin: 0;
  position: relative;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
  -webkit-transition: -webkit-filter 300ms ease-in-out;
  transition: -webkit-filter 300ms ease-in-out;
  -o-transition: filter 300ms ease-in-out;
  transition: filter 300ms ease-in-out;
  transition: filter 300ms ease-in-out, -webkit-filter 300ms ease-in-out;
}

.entry-content-themes h2 {
  margin: 0;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: #33375F;
  text-align: center;
  color: #fcfcfc;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.entry-content-themes h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #767bb5;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0.6;
}

.entry-content-themes a {
  text-decoration: none;
}

.video-carousel-card {
  position: relative;
  margin-top: 2rem;
}

.video-carousel-card img {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
}

.video-carousel-card h4 {
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
  z-index: 5;
}

.video-carousel-card:hover .video-play-button-soft {
  opacity: 1;
}

.video-carousel-card:hover img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.video-carousel-card__title {
  position: absolute;
  bottom: 0;
  background-color: rgba(41, 51, 156, 0.4);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  z-index: 3;
  opacity: 1;
}

.video-carousel-card__title h3 {
  color: #fcfcfc;
  font-size: 1.7rem;
}

.video-carousel-card__title p {
  color: #fcfcfc;
}

.video-vignette {
  margin-top: 2rem;
  padding: 0;
}

@media screen and (max-width: 645px) {
  .video-vignette {
    width: 100%;
  }
}

.video-vignette-card {
  position: relative;
  margin: 0;
  padding: 0;
  width: 600px;
}

@media screen and (max-width: 645px) {
  .video-vignette-card {
    width: 100%;
  }
}

.video-vignette-card:hover img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.video-vignette-card img {
  width: 600px;
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
}

@media screen and (max-width: 645px) {
  .video-vignette-card img {
    width: 100% !important;
    margin-bottom: 2.5rem !important;
  }
}

.video-vignette-card__title {
  position: absolute;
  bottom: 4px;
  background-color: rgba(41, 51, 156, 0.4);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  z-index: 3;
  color: #fcfcfc;
}

@media screen and (max-width: 645px) {
  .video-vignette-card__title {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    bottom: 15px;
  }
}

.video-vignette-card__title h3 {
  color: #fcfcfc;
  font-size: 1.7rem;
}

@media screen and (max-width: 645px) {
  .video-vignette-card__title h3 {
    font-size: 1.02rem;
  }
}

.video-vignette-card__title p {
  color: #fcfcfc;
}

.slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
}

.slick-arrow.next-arrow {
  right: 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-arrow.prev-arrow {
  z-index: 100;
  left: 10px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

#long {
  overflow: auto;
  background-color: #fcfcfc;
  padding: 2rem;
  width: 50em;
  border-radius: 6px;
}

@media screen and (max-width: 645px) {
  #long {
    width: 100%;
  }
}

#long p,
#long h2,
#long h3,
#long h4,
#long h5,
#long h6,
#long li {
  color: #33375F;
}

#long a {
  color: #33375F;
  text-decoration: none !important;
  border-bottom: 1px solid #7A6A95;
  -webkit-box-shadow: inset 0 -0.125em 0 #7A6A95;
          box-shadow: inset 0 -0.125em 0 #7A6A95;
  -webkit-transition: color 270ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: color 270ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1);
}

#long a:hover {
  -webkit-box-shadow: inset 0 -1.125em 0 #7A6A95;
          box-shadow: inset 0 -1.125em 0 #7A6A95;
  color: #33375F;
}

#long blockquote::before {
  color: #33375F !important;
}

#long blockquote::after {
  color: #33375F !important;
}

#long li {
  list-style-type: none;
  line-height: 1.5;
}

#long li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #33375F;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}

#long hr {
  color: #33375F !important;
}

.arrow {
  display: inline-block;
  padding: 3px;
}

.arrow--select {
  border: solid white;
  border-width: 0 3px 3px 0;
  margin-left: 9px;
  margin-bottom: 1px;
}

.arrow.down {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 645px) {
  .search-container {
    display: none;
  }
}

.search-container input {
  border: 2px solid #33375F;
  padding: 12px 16px;
  font-size: 16px;
}

.search-container form {
  z-index: 10;
}

.search-container form button {
  background-color: #fcfcfc;
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.search-container form button:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 4px solid #33375F;
  top: -15px;
  right: 25px;
}

.search-container form button:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 4px;
  background-color: #33375F;
  -webkit-transform: rotate(-52deg);
      -ms-transform: rotate(-52deg);
          transform: rotate(-52deg);
  top: -3px;
  right: 23px;
}

.search-container.reveal {
  display: block;
  position: absolute;
  z-index: 10;
  top: 22px;
  left: 20%;
  width: 80%;
}

.search-container.reveal input {
  width: 95%;
}

.background-image {
  width: 74%;
  position: relative;
  z-index: -10;
  margin-left: 25%;
  margin-bottom: -42%;
  margin-top: -132px;
}

.background-image__image {
  width: 100%;
  opacity: 0.3;
}

.background-image__blur {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  -webkit-box-shadow: inset 84px -62px 87px -8px #fcfcfc;
          box-shadow: inset 84px -62px 87px -8px #fcfcfc;
}

.singleTheme {
  margin-top: 10rem;
}

.header-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header-theme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .header-theme .button {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
}

.button a {
  text-decoration: none;
  color: #fcfcfc;
}

.entry-content {
  padding: 1rem;
  position: relative;
}

@media screen and (max-width: 645px) {
  .entry-content {
    width: 100%;
  }
}

.entry-content-text {
  width: 33%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #33375F;
}

@media screen and (max-width: 768px) {
  .entry-content-text {
    width: 100%;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 645px) {
  .entry-content-text {
    margin-top: 1rem;
  }
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.horizontal-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 645px) {
  .horizontal-align {
    display: block;
  }
}

.half-screen {
  width: 50%;
}

.half-screen--left {
  margin-left: 50%;
}

.main {
  padding: 1rem;
}

.center {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.not-found {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.not-found h2 {
  padding: 12px 12px;
}

.entry-title {
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 4.5rem;
  text-align: center;
}

@media screen and (max-width: 645px) {
  .entry-title {
    font-size: 2rem;
  }
}

.entry-title__page {
  color: #33375F;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .entry-title__page {
    font-size: 1.5rem;
  }
}

.entry-title__page-pdf {
  margin-left: 5rem;
}

@media screen and (max-width: 768px) {
  .entry-title__page-pdf {
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 645px) {
  .entry-title__page .long-text {
    font-size: 1.6rem;
  }
}

.gif {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  -webkit-animation: gif 1s linear 0.5s;
          animation: gif 1s linear 0.5s;
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: calc(50vh - (50px / 2));
  left: calc(50vw - (50px / 2));
  color: #fcfcfc;
  background-color: #33375f;
  border-radius: 50%;
  padding: 0.1em;
  font-weight: 500;
}

.margin-bottom {
  margin-bottom: 2.5rem;
}

.vimeo-wrapper {
  background-color: #33375F;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  -webkit-animation: opacity 2s 1.5s backwards;
          animation: opacity 2s 1.5s backwards;
  opacity: 1;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vimeo-wrapper--half {
  width: 50%;
}

.vimeo-wrapper--half--left {
  left: 50%;
}

.video-duration p {
  color: #33375F;
  padding-left: 0.4rem;
  font-size: 1.5rem;
}

.theme-list a {
  text-decoration: none;
}

.theme-list__title {
  color: #33375F;
}

.theme-list .entry-content-text {
  margin-bottom: -1rem;
}

