.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.horizontal-align {
    display: flex;
    justify-content: center;
}

.half-screen {
    width: 50%;
    &--left {
        margin-left: 50%;
      }
}

.main {
    padding: 7rem 2rem;
}

.center {
	@include center;
}

@media screen and (max-width : 768px)  {
	.main {
		padding: 7rem 1rem;
	}

}

@media screen and (min-width : 768px) and (max-width: 1024px) {
	.main {
		padding: 7rem 1rem;
	}

}

.entry-content {
    width: 33%;
    padding: 1rem;
    color: $main-color;
}
