
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.horizontal-align {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile-only {
        display: block;
    }
}

.half-screen {
    width: 50%;
    &--left {
        margin-left: 50%;
      }
}

.main {
    padding: $margin;
}

.center {
	@include center;
}

.text-center {
    text-align: center;
}

.not-found {
    width: fit-content;
    h2 {
        padding: 12px 12px;
    }
}

.entry-title {
    text-transform: uppercase;
    color: $main-white;
    font-size: map-get($main-title, first-title);
    @include mobile-only {
        font-size: 2rem;
    }
    text-align: center;
    &__page {
        color: $main-color;
        font-size: map-get($main-title, title-page);
        @include ipad-only {
            font-size: map-get($main-title, title-page)*0.6;
        }
        &-pdf {
            margin-left: 5rem;
            @include ipad-only {
                margin-left: 0rem;
                margin-bottom: 0.5rem;
            }
        }
        .long-text {
            @include mobile-only {
                font-size: 1.6rem;
            }
        }
    }
}


.gif {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    animation: gif 1s linear 0.5s;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: calc(50vh - (/* height */50px / 2));
    left: calc(50vw - (/* width */50px / 2));
    @include header-object;
}

.margin-bottom {
    margin-bottom: 2.5rem;
}


