.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.horizontal-align {
    display: flex;
    justify-content: center;
}

.half-screen {
    width: 50%;
    &--left {
        margin-left: 50%;
      }
}

.main {
    padding: $margin;
}

.center {
	@include center;
}

.entry-title {
    text-transform: uppercase;
    color: $main-white;
    font-size: map-get($main-title, first-title);
    text-align: center;
    &__page {
        color: $main-color;
        margin-left: 5rem;
        @include ipad-only {
            margin-left: 0rem;
            margin-bottom: 0.5rem;
        }
        font-size: map-get($main-title, title-page);
        @include ipad-only {
            font-size: map-get($main-title, title-page)*0.6;
        }
    }
}

.gif {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    animation: gif 1s linear 0.5s;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: calc(50vh - (/* height */50px / 2));
    left: calc(50vw - (/* width */50px / 2));
    @include header-object;
}
