//mixins
@mixin border-button($size:0.5rem, $colour:$main-white){
    border: $size solid $colour;
  }

@mixin hover($colour: $main-color){
    @if ( saturation($colour) < 50% ) {
        $colour: saturate($colour, 30%);
    }@else{
        $colour: desaturate($colour, 30%);
    }
    background-color: $colour;
}

@mixin transition ($time: 0.3s) {
	transition: all $time ease-in-out;
}

@mixin center {
	display: grid;
	justify-content: center;
}

@mixin header-object {
    color: $main-white;
    background-color: rgba($main-color, 100%);
    border-radius: 50%;
    padding: 0.1em;
    font-weight: 500;
}

@mixin title_button {
	background-color: $main-color;
	text-align: center;
	color: $main-white;
    font-size: 1rem;
    padding: $padding-button;
}

@mixin custom-btn {
    position: relative;
    padding: 1.5rem;
    background: $main-white;
    cursor: pointer;
    border-radius: 100rem;
    font-size: 1.5rem;
    color: $main-white;
    text-decoration: none;
}

//::after, for colors transitions
@mixin pseudo-element {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin theme-title {
    width: 100%;
}

@mixin button {
    color: $main-white;
    background-color: $main-color;
    padding: 0.5rem;
    cursor: pointer;
}

//wizz for light effect on buttons
@mixin wizz {
    background-color: light($main-color);
    transition: none;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0.6;
}

@mixin wizz-hover {
    transform: scaleX(1);
    opacity: 0;
    transition: all 1s ease-in-out;
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin play-button-pseudo {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: $main-color;
    border-radius: 50%;
}



