//mixins
@mixin border-button($size:0.5rem, $colour:$main-white){
    border: $size solid $colour;
  }

@mixin hover($colour: $main-color){
    @if ( saturation($colour) < 50% ) {
        $colour: saturate($colour, 30%);
    }@else{
        $colour: desaturate($colour, 30%);
    }
    background-color: $colour;
}

@mixin transition ($time: 0.3s) {
	transition: all $time ease-in-out;
}

@mixin center {
	display: grid;
	justify-content: center;
}

@mixin title_button {
	background-color: $main-color;
	text-align: center;
	color: $main-white;
    font-size: 1rem;
    padding: $padding-button;
}
