//colors
$main-white: #fcfcfc;
$main-color: #33375F;
$second-color: #4A4F7B;

//size
$main-title: (first-title:4.5rem, title-page:2.5rem, third-title:1.7rem);

//paddings
$padding-button: 0.5rem 0;

//margins
$margin: 1rem;
$double-margin: 2rem;

//responsive
$breakpoints: (
  mobile: 599px
);

$cd-danger: #F44336;










