//colors
$main-white: #fcfcfc;
$main-color: #33375F;
$main-color-trans: rgba(41, 51, 156, 0.8);
$second-color: #4A4F7B;
$comp: #FFC792;

$black: #19212E;

//size
$main-title: (first-title:4.5rem, title-page:2rem, third-title:1.3rem);

//paddings
$padding-button: 0.5rem 0;

//margins
$margin: 1rem;
$double-margin: 2rem;

//responsive
$breakpoints: (
  mobile: 645px,
  ipad2: 1024px,
  ipad: 768px
);

$cd-danger: #F44336;

$font-size: 0.9rem;










